<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Welcome Page</title>
    <style>
	</style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Expinc</h1>
        <div class="loginSubmitButtonContainer">
		  <a href="/login" class="button" >Login</a>
	  	</div> 
	  	<div class="loginSubmitButtonContainer">
        	<a href="/register" class="button">Register</a>
	  	</div>
    </div>
</body>

</html>